
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
}

.foto-de-fondo {
  width: 100%;
  height: 740px;
  background-image: url('https://cdn.agenciasinc.es/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/asi-permanecen-dormidas-las-celulas-tumorales-antes-de-provocar-la-metastasis/9318374-5-esl-MX/Asi-permanecen-dormidas-las-celulas-tumorales-antes-de-provocar-la-metastasis.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  border: 1px solid lightblue;
}

.rectangulo {
  width: 100vw;
  height: 100px;
  background: white;
  position: relative;
  z-index: 1;
}

.cuadrado {
  width: 540px;
  height: 540px;
  background: white;
  position: relative;
  transform: translateX(330px);
  margin: 0 auto;
  border: 1px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 40px;
  text-align: center;
}

.rectangulo-2 {
  width: 100vw;
  height: 700px;
  background: #1a67bc;
  position: relative;
  margin-top: 100px;
  
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  padding: 180px;  
}
.rectangulo-2 p {  
  color: white; 
  margin-bottom: 25px; 
  line-height: 1.6;  
  margin-top: 0;  
}

#introduction, #cancer-relation, #proteina-p53, #p53-relacion-cancer {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 300px; /* Ajusta este valor para dar la misma altura */
    min-height: 400px; /* Esto asegura que todos los elementos tengan al menos 300px de altura */
  box-sizing: border-box;
  overflow: hidden;
}
#proteina-p53 img {
  max-width: 100%;
  display: block;
  margin: 0 auto; 
  height: auto; 
  border-radius: 8px; 
  height: 150px; 
  object-fit: cover;
}

#introduction img {
  max-width: 100%;
  display: block;
  margin: 0 auto; 
  height: auto; 
  border-radius: 8px; 
  height: 180px; 
  object-fit: cover;
}

#p53-relacion-cancer {
  background-color: #f5a623;
}

.content-left {
  flex: 1;
  margin-right: 20px;
}

.content-right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  color: #333333;
  margin-bottom: 10px;
  font-size: 24px;
}

p {
  color: #333333;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  
}

#cancer-relation {
  background-color: #f5a623;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#movingImage {
  position: absolute; 
  top: 1320px; 
  left: 0; 
  width: 110px; 
  height: auto; 
}

  button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
